
<div class="w3-padding">
  <h1 class="w3-dark-blue">{{idResult.name}}</h1>
    <hr>
  <h2 class="w3-dark-blue"><small>Description</small></h2>
  <h4>
    {{idResult.description}}
  </h4>
    <hr>
  <h2 class="w3-dark-blue"><small>Domain Type</small></h2>
  <h4>{{idResult.domainType}}</h4>
</div>
